# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/
env/

# Environment Variables
.env
.env.*

# Logs
*.log

# IDE
.vscode/
.idea/

# ==========================
# Node / Next.js
# ==========================
node_modules/
.next/
out/

# Build
dist/
build/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db